@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400;700&display=swap");

.jumbotron {
  font-size: 20px;
  padding: 40px;
  background-color: #dfffd8;
  text-align: center;
  color: black;
}

/* Header Style (Start) */
header.navbar-container {
  background-color: #dfffd8;
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding-block: 1rem;
  z-index: 999;
}

header.navbar-container .navbar ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

header.navbar-container .navbar li {
  list-style-type: none;
}

header.navbar-container .navbar li a {
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: black;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  transition: all 0.2s ease-in-out;
}

header.navbar-container .navbar li:hover a {
  background-color: #425c77;
  color: white;
}
/* Header Style (End) */

body {
  height: 100vh;
  font-family: "Shantell-sans", sans-serif;
  margin: 0;

  background-color: #f7c8e0;
  color: black;

  display: flex;
  flex-direction: column;
}

p {
  text-align: justify;
}

.opening {
  text-align: center;
}

main article aside {
  flex: 1;
  display: flex;
  align-items: center;
}

main {
  padding: 20px;

  display: flex;
  gap: 1.5rem;
}

.profile-gelen {
  width: 100%;
  max-height: 300px;

  object-fit: cover;
  object-position: center;
}

footer {
  padding: 20px;
  color: black;
  background-color: #dfffd8;
}
